menu "MAC LOGGER CONFIG"
    config MAC_LOGGER_MAX_STAS
        int "Maximum number of STA in the MAC logger list"
        range 1 32
        default 16
    
    config MAC_LOGGER_MAX_APS
        int "Maximum number of AP in the MAC logger list"
        range 1 16
        default 8

    config MAC_LOGGER_WAIT_MS
        int "Time to wait in MS for lock"
        default 10

    config MAC_LOGGER_Q_SIZE
        int "Number of packets allowed on in queue"
        default 16

    config MAC_LOGGER_STACK_SIZE
        int "Mac logger task stack size"
        default 4096

    config MAC_LOGGER_CONSUMER_PRIO
        int "Mac logger task prio"
        default 10
        
endmenu