menu "REPL MUX Config"

    config REPL_MUX_N_QUEUES
        int "Number of mux queues"
        default 2
    
    config REPL_MUX_MAX_LOG_MSG
        int "Max size of a log message and input message"
        default 128

    config REPL_MUX_Q_SIZE
        int "Number of messages allowed on the each Q at a given time"
        default 8

    config REPL_MUX_STACK_SIZE
        int "Consumer Task stack size"
        default 4096

    config REPL_MUX_CONSUMER_PRIO
        int "Consumer Task Priority"
        default 2

    config REPL_MUX_WAIT_MS
        int "Time in ms to wait for queue to clear up to publish more logs"
        default 10

    config REPL_MUX_IP
        string "IP of repl server"
        default "192.168.4.1"
    
    config REPL_MUX_PORT
        int "Port of repl server"
        default 421

    config REPL_MUX_MAX_NUM_CMD
        int "Number of commands that can be regstered in the command table"
        default 32

    config REPL_MUX_MAX_CMD_ARG
        int "Max number of args a commmand can have"
        default 6

    config REPL_MUX_NAME_LEN
        int "Length of a command name string"
        default 32

    config REPL_MUX_DESC_LEN
        int "Length of a command name string"
        default 64

endmenu