menu "HC_SR04 Ultra Sonic Config"
  config TRIGGER_PIN
    int "trigger_pin"
    range 1 100
    default 5
    help
      Trigger Pin

  config ECHO_PIN
    int "echo_pin"
    range 1 100
    default 18
    help
      Echo Pin

  config MAX_DISTANCE
    int "max_distance"
    range 1 1000
    default 100
    help
      Max Distance
endmenu
