menu "HTTP Server"
  config WIFI_SSID
    string "wifi_ssid"
    default "NaN"
  
  config WIFI_PASSWORD
    string "wifi_password"
    default "password"

  config HTTP_SERVER_PORT
    int "http_server_port"
    range 1 65536
    default 80
    help
      Port of http server

    config HTTP_MAX_CBS
      int "http_max_cbs"
      range 1 32
      default 4
      help
	Max number of http call backs
endmenu 
